:root{
    --primary-color:#F5EE84;
    --secondary-color:#FBF8CC;
    --tertiary-color:#F7F197;
    --paragraph-color-primary:#03045E;
    --primary-heading-color:#03045E;
    --resume-heading-color:#474306;
}

* {
    font-family: var(--font-poppins);
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.__portfolio-body{
    background-color: var(--secondary-color);
    padding: 20px 35px 20px 35px;
}

.__portfolio-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 0px 100px 0px;
}

.__portfolio-body .__portfolio-header .__portfolio-block-1{
    flex: 1 1 60%;
}

.__portfolio-body .__portfolio-header .__portfolio-block-2{
    flex: 1 1 40%;
}

.__portfolio-body .__portfolio-header .__portfolio-block-1, .__portfolio-body .__portfolio-header .__portfolio-block-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.__portfolio-body .__portfolio-header .__portfolio-block-1 .__portfolio-content-group-1{
    font-size: 18px;
    line-height: normal;
    letter-spacing: normal;
    color: var(--paragraph-color-primary);
    gap: 35px;
}


.__portfolio-body .__portfolio-header .__portfolio-block-1 .__portfolio-content-group-1, .__portfolio-body .__portfolio-header .__portfolio-block-2 .__portfolio-content-group-2{
    list-style-type: none;
    cursor: pointer;
    display: flex;
}

.__portfolio-body .__portfolio-header .__portfolio-block-2 .__portfolio-content-group-2{
    font-size: 20px;
    gap: 20px;
}

.__portfolio-body .__portfolio-body-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0px 115px 0px 115px;
}

.__portfolio-body .__portfolio-body-section .section-group-1, .__portfolio-body .__portfolio-body-section .section-group-2{
    flex: 1 1 50%;
}

.__portfolio-body .__portfolio-body-section .section-group-1 .resume-border{
    height: 60px;
    width: 160px;
    border: 1px solid var(--resume-heading-color);
    border-radius: 6px;
}

.__portfolio-body .__portfolio-body-section .section-group-1 .resume-content{
    font-size: 20px;
    font-weight: normal;
    color: var(--resume-heading-color);
    padding: 15px 40px 15px 40px;
    background-color: var(--primary-color);
    border-radius: 6px;
    position: relative;
    top: -53px;
    left: 5px;
}

.__portfolio-body .__portfolio-body-section .section-group-1 .resume-border{
    z-index: 2;
    margin: 15px 0px 0px 0px;
}

.__portfolio-body .__portfolio-body-section .section-group-1 .bio-name, .__portfolio-body .__portfolio-body-section .section-group-1 .bio-country{
    color: var(--primary-heading-color);
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
}

.__portfolio-body .__portfolio-body-section .section-group-1 .bio-designation-group-1, .__portfolio-body .__portfolio-body-section .section-group-1 .bio-designation-group-2{
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 5px;
    color: var(--primary-heading-color);
}

.__portfolio-body .__portfolio-body-section .section-group-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.__portfolio-body .__portfolio-body-section .section-group-2{
    display: flex;
    justify-content: flex-end;
}

.__portfolio-body .__portfolio-body-section .section-group-2 img{
    object-fit: cover;
    height: 450px;
    width: 450px;
    border-radius: 50%;
}